<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkeletonAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Bienvenido!</h1>
  
  <h6>Usuario:</h6>
 <h2>Informacion Adicional</h2>

 <div>
  <ion-button color="secondary">Limpiar</ion-button>
  <ion-button color="secondary">Mostrar</ion-button>
 </div>
 
 <footer>
  App desarrollada por
 </footer>

</ion-content>
